.item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.item {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    // background: #0d0e13;
    // z-index: 1;
    overflow: hidden;

    // I added this later
    // width: fit-content;
    // margin: 0 auto;
}

.item:first-child {
    // z-index: 3;
}

.current {
    color: #0d0e13;
}

.publisher {
    position: relative;
    display: flex;
    margin: 0 8.26667vw 4vw;
    // z-index: 2;
    overflow: hidden;
}

@media (min-width: 601px) {
    .publisher {
        width: 26.38889vw;
        // margin: 8.68056vw auto auto;
        // margin: 14vw auto auto;
        // margin: 3vw auto auto;
        margin: auto auto 10vw;
    }
}

.item:not(.current) .publisher {
    display: none;
}

.avatar {
    background: #d5dae8;
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    overflow: hidden;
}

@media (min-width: 601px) {
    .avatar {
        width: 2.77778vw;
        height: 2.77778vw;
    }
}

.author {
    position: absolute;
    top: 1.86667vw;
    left: 10.66667vw;
    overflow: hidden;
    display: inline-flex;
}

@media (min-width: 601px) {
    .author {
        top: 0.69444vw;
        left: 3.47222vw;
    }
}

.author_line {
    font-size: 0.9722vw;
    line-height: 1.45833vw;
    letter-spacing: 0.00694vw;
}

.post {
    position: relative;
    margin: 0 8.26667vw 21.33333vw;
    pointer-events: all;
    // z-index: 1;
}

@media (min-width: 601px) {
    .post {
        width: 26.38889vw;
        margin: 0 auto 7.63889vw;
        margin: 0 auto 4vw;
    }
}

.title {
    font-weight: normal;
    font-size: 2.2222vw;
    font-size: 1.8vw;
    line-height: 2.7778vw;
    letter-spacing: -0.000694vw;
    margin-bottom: 1.73611vw;
}

.text_mask, .title_mask {
    overflow: hidden;
}

.text_line, .title_line {
    transform-origin: top left;
}

@media (min-width: 601px) {
    .text_line, .title_line {
        will-change: transform;
    }
}

.text_line, .title_line {
    transform-origin: 0% 50%;
    opacity: 1;
    transition: transform 1.2s cubic-bezier(.77,0,.175,1);
    transform: translate(0px, 0px);
    // transform: rotate(7deg) translate(0px, 100%);
}

// .current .title_line {
//     transform: rotate(7deg) translate(0px, 100%);
// }


.item:not(.current) .title_line {
    transform: rotate(7deg) translate(0px, 100%);
    transition: transform 1.2s cubic-bezier(.77,0,.175,1)
}

.item .title_mask:nth-child(0) .title_line {
    transition-delay: .5s
}

.item .title_mask:first-child .title_line {
    transition-delay: .6s
}

.item .title_mask:nth-child(2) .title_line {
    transition-delay: .7s
}

.item .title_mask:nth-child(3) .title_line {
    transition-delay: .8s
}

.item .title_mask:nth-child(4) .title_line {
    transition-delay: .9s
}

.item:not(.current) .title_mask:nth-child(0) .title_line {
    transition-delay: 0s
}

.item:not(.current) .title_mask:first-child .title_line {
    transition-delay: .1s
}

.item:not(.current) .title_mask:nth-child(2) .title_line {
    transition-delay: .2s
}

.item:not(.current) .title_mask:nth-child(3) .title_line {
    transition-delay: .3s
}

.item:not(.current) .title_mask:nth-child(4) .title_line {
    transition-delay: .4s
}





.post {
    padding-bottom: 2rem;
}

// Button styles from exo ape
// some change in arrow path, keep 
// in mind when converting to component

.link {
    font-size: 1.1111vw;
    line-height: 1.1111vw;
    display: inline-flex;
    justify-self: flex-start;
    position: relative;
    margin: 0 auto;
    color: #0d0e13;
}

.item:not(.current) .link {
    opacity: 0;
    visibility: hidden;
}

.item.current .link {
    z-index: 3;
}

.circle {
    position: absolute;
    top: -0.69444vw;
    left: -2.22222vw;
    width: 2.70833vw;
    height: 2.70833vw;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.84,.4,.07,.7);
}

.circle_fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background: #0d0e13;
    will-change: transform;
    transform: scale(0);
    transition: all .5s cubic-bezier(.84,.4,.07,.7);
    z-index: 1;
}

.circle_outline {
    position: absolute;
    width: 0.41667vw;
    height: 0.41667vw;
    overflow: visible;
    fill: none;
    stroke: #0d0e13;
}

.circle_outline .circle {
    stroke-width: 1;
    stroke: #0d0e13;
}

.circle_icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d0e13;
    transition: all 0.5s cubic-bezier(.84,.4,.07,.7);
    transform: translate(-100%, 0%);
    opacity: 0;
    z-index: 2;
}

.icon_arrow {
    // this is different from teams page button
    width: 0.55556vw;
    height: 0.55556vw;

    path {
        fill: #fff;
    }
}

.label {
    padding-bottom: 0.13889vw;
    transition: all 0.5s cubic-bezier(.84,.4,.07,.7);
    will-change: transform;
}

.border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: currentColor;
    transition: all 0.5s cubic-bezier(.84,.4,.07,.7);
    transform-origin: right;
    will-change: transform;
    background: rgba(13,14,19,.4);
}

.link:hover {
    .circle_fill {
        transform: scale(1);
    }

    .circle_icon {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    .label {
        transform: translate(12.8px, 0);
    }
    
    .border {
        transform: scale(0, 1);
    }
}
