.lg__heading {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    padding: 0 3.125rem;
    // background: #e7e6e9;
    color: #060508;
    // padding-top: 10.1875rem;
    // padding-bottom: 5rem;
    padding-top: 0;
    // padding-bottom: 5rem;
    width: 100%;
}

.subheadingWrapper {
    grid-row: 1;
    grid-column: span 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8.3333vw;
    padding-bottom: 8.3333vw;
    text-align: center;
}

.subheadingIcon {
    position: absolute;
    width: 0.83333vw;
    height: 0.83333vw;
    will-change: transform;
    // transform: translate(-1.49306vw,0.76389vw);
    transform: translate(-1.8vw, 0.4vw);
}

.heading h3 {
    line-height: 1.1;
    // letter-spacing: -0.01em;
    letter-spacing: -0.02em;
    font-weight: normal;
    font-size: 8rem;
    max-width: 7ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.description {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.9vw;
    max-width: 30ch;
}