.header {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  margin: 0;
  padding: 0 3.125rem;
  padding-top: 5.132rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  pointer-events: none;
}

.logo {
  width: fit-content;
  pointer-events: all;
}

.list {
  // margin: 0;
  // padding: 0;
  list-style: none;
  display: block;
  grid-column: 3/span 5;
}

.item {
  display: inline-block;
  // width: calc(((100vw - 6.25rem)/10 - 1.125rem)*1 + 0rem);
  width: auto;
  margin: 0 3.75rem 0 0;
  vertical-align: middle;
  white-space: nowrap;
}

.item:last-child {
  margin: 0;
}

.link {
  // Add font styles here
  // margin: 0;
  // padding: 0;
  color: #1a1a1a;
  letter-spacing: 0.02em;
  pointer-events: all;
  // transition: color .5s;
}

.btn {
  pointer-events: all;
  grid-row: 1/span 1;
  // grid-column-start: 9;
  grid-column-start: 10;
  grid-column-end: 11;
  transform: translateY(-25%);
}