.hero {
    // height: 100vh;
    height: 75vh;
    color: #0d0e13;
    // background-color: #0d0e13;
    // pointer-events: none;
}

.nav {
    // position: relative;
    // z-index: 4;
    display: flex;
    gap: 0.3rem;
    pointer-events: all;
    
    // added later 
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 601px) {
    .nav {
        width: 26.38889vw;
        // padding-top: 7.29167vw;
        margin: auto;
    }
}

.button {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    border: 0;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: 0 0;
}

.button {
    cursor: pointer;
    position: relative;
    flex: 1;
    height: 1.5px;
    // background: hsla(0,0%,100%,.4);
    background: hsla(0, 0%, 47%, 0.4);
    margin-right: 5px;
}

.button:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.66667vw;
    width: 100%;
    height: 5.33333vw;
}

@media (min-width: 601px) {
    .button:before {
        bottom: -0.69444vw;
        height: 1.38889vw;
    }
}

.indicator {
    width: 100%;
    height: 1px;
    // i added this origin prop
    transform-origin: left;
    transform: scaleX(0);
    background: #0d0e13;
}

.button:nth-child(3) .indicator {
    transform: scaleX(0.6);
}

.h1 {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

// .next, .prev {
.controls {
    overflow: hidden;
    outline: none;
    border: 0;
    position: absolute;
    // top: 0;
    // bottom: 0;
    // width: 50%;
    z-index: 2;
    pointer-events: all;
    cursor: pointer;
    bottom: 1.2rem;
    right: 0;
    width: 3rem;
    height: 3rem;
    // border-radius: 50%;
    border-radius: 5px;
    background: #d5dae8;
    // background: #0d0e13;
}

.prev {
    right: calc(5.5rem + 5px);
}

.next {
    right: 2.5rem;
}

.control_arrow, .control_arrow_clone {
    fill: #0d0e13;
    transform: translateY(3px) scale(0.25);
    transition: all 0.5s cubic-bezier(.84,.4,.07,.7);
}

.prev .control_arrow {
    transform: translateY(3px) rotate(180deg) scale(0.25);
}

.prev .control_arrow_clone {
    transform: translate(100%, -2.75rem) rotate(180deg) scale(0.25);
}

.next .control_arrow_clone {
    transform: translate(-100%, -2.75rem) scale(0.25);
}

.next:hover .control_arrow {
    transform: translate(100%, 3px) scale(0.25);
}

.next:hover .control_arrow_clone {
    transform: translate(0, -2.75rem) scale(0.25);
}

.prev:hover .control_arrow {
    transform: translate(-100%, 3px) rotate(180deg) scale(0.25);
}

.prev:hover .control_arrow_clone {
    transform: translate(0, -2.75rem) rotate(180deg) scale(0.25);
}

.items {
    // z-index: 3;
}

.items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}